.container{
    width : 100vw;
    height:100vh;
    text-decoration: none; 
    background-color:  #4e2a84;
    color:white;
    position:relative;
}
.navLabel{
    height:30px;
    text-align: center;
    padding: 20px;
}
.navbar{
    background-color: white;
    height:40px;
    color:white;
    border:1px solid black;
    box-shadow: 1px;
    padding-top:20px;
    
    
}
.navItem{
    text-decoration: none;
    margin:20px;
    width:40px;
    
    
}